* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header {
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.menu {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  padding-left: 0px;
}

.webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  padding: 24px 0px 25px 0px;
  margin-left: 215px;
  margin-right: 94px;
}

.studio-h {
  color: #212121;
}

.studio-f {
  color: #ffffff;
}

.links {
  text-decoration: none;
  list-style-type: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  padding: 32px 53px 32px 0px;
}

.mail-h {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 50px 32px 0px;
  margin-left: 300px;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding: 32px 0px 32px 0px;

  margin-right: 227px;
}

.tel:hover {
  color: #2196f3;
}

.links:hover {
  color: #2196f3;
}

.mail-h:hover {
  color: #2196f3;
}

.s1 {
  background: #2f303a;
  width: 1600px;
  height: 600px;
}

.h1 {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  padding-left: 452px;
  padding-top: 200px;
}

.Lorem-P {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}

.Ipsum-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.ul-main1 {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 101px;
  list-style-type: none;
  margin-top: 94px;
  padding-left: 215px;
}

.sec3 {
  width: 1170px;
  height: 386px;
  padding-left: 215px;
}

.ul-main2 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 0px;
}

.team {
  padding-top: 94px;
  margin-top: 94px;
  margin-left: 695px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
  color: #212121;
}

.ul-main {
  list-style-type: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 368px;
  margin-left: 215px;
  margin-right: 215px;
  padding-left: 0px;
}

.img-sec3 {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.job {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.button-main-page {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-left: 700px;

  margin-top: 30px;
}

.button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.webstudio-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.studio-footer {
  color: #ffffff;
}

.footer {
  background: #2f303a;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 0.06em;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  letter-spacing: 0.03em;
}

.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  letter-spacing: 0.03em;
}

.buttons-portfolio {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-p {
  background-color: #f5f4fa;
  color: #212121;
  border: 1px solid #212121;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  text-decoration: none;
  transition-duration: 0.4s;
  display: inline-block;
  cursor: pointer;
}

.button-p:hover {
  background-color: #2196f3;
  color: #ffffff;
  border: 1px solid #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-portfolio {
  list-style-type: none;
}

.img-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.img-type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: 0.03em;
}

.offer {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-left: 409px;
}

.sec4 {
  width: 1600px;
  height: 648px;
  background: #f5f4fa;
}

.webstudio-f {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
